/* NAVBAR */
.navbar {
  background: #ffffff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.don-btn {
  background: #e1b12c;
  padding: 10px 18px;
  border-radius: 30px;
  color: #fff;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #333;
  border-radius: 5px;
  transition: 0.4s;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100vh;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    transition: right 0.4s ease;
    box-shadow: -10px 0 40px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}

/* HAMBURGER ANIMATION */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
